.header{
    display: flex;
    padding: 10px 
}
/* ! left side of the header */
.headerLeft{
    flex: 0.5;
    font-size: 30px;
    color: rgba( 52, 48, 48, 0.9 );
}

.left{
    margin-left: 20px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );   
}

.right{
    margin-left: 25px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );    
}

.left:hover, .right:hover{
    transition: transform 0.2s ease-in;
    transform: scale(1.2);
}


/* ! style for right side of the header */
.headerRight{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    padding: 2px 10px;
    border-radius: 25px;
    background-color: rgb(53, 50, 50);
    width: 100px;
}

.profileImg{
    height: 30px;
    width: 30px;
    border-radius: 50px;
    /* margin-right: auto; */
}

.name{
    margin-left: auto;
    margin-top: -4px;
}