.songRow{
    margin-left: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: white;
}

.songRow:hover{
    transition: 100ms background-color ease-in-out;
    cursor: pointer;
    background-color: black;
    opacity: 0.8;
}

.songRowImg{
    height: 50px;
    width: 50px;
}

.songRowInfo{
    margin-left: 20px;
}

.songRowInfo p{
    font-size: 14px;
    margin-top: 3px;
    color: grey;
}

.songRowInfo h1{
    font-size: 16px;
}